.about-me__about {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.57;
    margin: 0 0 10px;
}

.about-me__about:last-child {
    margin: 0;
}

@media screen and (max-width: 1120px) {
    .about-me__about {
        font-size: 12px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 550px) {
    .about-me__about:last-child {
        margin: 0 0 40px;
    }
}
