.techs__list {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 90px));
    list-style: none;
    margin: 0;
    padding: 0 0 100px;
}

@media screen and (max-width: 1120px) {
    .techs__list {
        padding: 0 0 90px;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 84px));
    }
}

@media screen and (max-width: 550px) {
    .techs__list {
        width: 200px;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 84px));
        padding: 0 0 70px;
    }
}
