.header__nav_container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /*transition: all 0.3s ease-in-out;*/
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .header__nav_container {
        visibility: visible;
        opacity: 1;
    }
}
