.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    min-height: calc(100vh - 80px - (70px * 2));
}

.profile__container {
    display: flex;
    flex-direction: column;
}

.profile__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 123px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    height: 62px;
    width: 410px;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.18;
    justify-content: space-between;
    margin-bottom: 220px;
}

.profile__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.profile__divider {
    min-width: 100%;
    margin: 0;

    border-color: #424242;
}

.profile__input {
    padding: 3px 0;
    text-align: right;
    border: none;
    outline: 0;
    background-color: transparent;
    color: white;
}
.profile__input:focus {
    background-color: #2f2f2f;
}

.profile__error {
    color: #ee3465;
}

.profile__status-message {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;
    color: #ee3465;
    padding-bottom: 10px ;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

.profile__button {
    height: 16px;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s;
    border: 0;
    background-color: transparent;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
    color: white;
}

.profile__button:hover {
    opacity: 0.8;
}

.profile__button_type_logout {
    color: #ee3465;
}

.profile__button_type_save {
    height: 45px;
    width: 100%;
    margin-top: auto;
    cursor: pointer;
    transition: opacity 0.2s;
    color: white;
    border: 0;
    border-radius: 3px;
    background: #4285f4;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    outline: 0;
}

.profile__button_type_save:hover {
    opacity: 0.8;
}
.profile__button_type_save:disabled {
    color: black;
    background: #F8F8F8;
    cursor: default;
}

@media screen and (max-width: 450px) {
    .profile__form {
        width: 260px;
        margin-bottom: 379px;
    }

    .profile__button {
        font-size: 12px;
        line-height: 1.25;
    }
}
