.header__nav {
    display: flex;
    min-width: 200px;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
}

@media screen and (max-width: 1024px) {
    .header__nav {
        display: none;
    }

    .header__nav_is_visible {
        display: flex;
        background-color: #202020;
        flex-direction: column;
        width: 520px;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 520px) {
    .header__nav_is_visible {
        width: 100%;
    }
}
