@import url(./__button/promo__button.css);
@import url(./__logo/promo__logo.css);
@import url(./__subtitle/promo__subtitle.css);
@import url(./__title/promo__title.css);

.promo {
    background-color: #073042;
    padding-top: 75px;
    position: relative;
}
