.about-project_timeline__backend {
    width: 20vw;
    height: 40px;
    background: transparent;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B8B8B;
}
