.footer__title {
    padding: 79px 0 20px;
    margin: 0;
    border-bottom: 1px solid #424242;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.23;
    color: #8B8B8B;
}
