.about-project_timeline__frontend {
    width: 80vw;
    height: 40px;
    background: transparent;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8b8b8b;
}

@media screen and (max-width: 550px) {
    .about-project_timeline__frontend {
        font-size: 11px;
        line-height: 1.18;
        height: 35px;
        width: 64vw;
    }
}
