.movies-cardlist__list {
  padding: 0;
  margin: 0 0 50px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 37px 24px;
  justify-items: center;
}
