.techs__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
  width: 460px;
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .techs__text {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 550px) {
  .techs__text {
    font-size: 11px;
    line-height: 1.45;
  }
}
