.about-project_timeline__1-week {
    width: 20vw;
    height: 36px;
    background: #3DDC84;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
