.header__button-icon {
    background-image: url("../../../images/header__button_account.svg");
    background-color: #313131;
    border-radius: 6px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
