.promo__logo {
    background-image: url(../../../images/promo__logo.svg);
    width: 310px;
    height: 304px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1120px) {
    .promo__logo {
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 550px) {
    .promo__logo {
        margin: 0 auto 44px;
        width: 210px;
        height: 206px;
        background-size: contain;
    }
}
