.promo__logo {
    background-image: url(../../../images/promo__logo.svg);
    width: 310px;
    height: 304px;
    margin-right: 70px;
    background-repeat: no-repeat;
    position: absolute;
    top: 75px;
    right: 0;
}
