.about-project__column-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
}

@media screen and (max-width: 1120px) {
    .about-project__column-text {
        font-size: 12px;
        line-height: 1.5;
    }
}
