.promo__title {
    font-size: 50px;
    line-height: 1.16;
    font-weight: normal;
    width: 640px;
    margin: 0 0 36px;
}

@media screen and (max-width: 1120px) {
    .promo__title {
        margin: 0 auto 36px;
    }
}


