.about-me__content {
  min-height: 327px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

@media screen and (max-width: 550px) {
  .about-me__content {
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
}
