.about-me__photo {
  background-image: url(../../../images/about-me__photo.jpg);
  background-size: cover;
  width: 270px;
  height: 327px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

@media screen and (max-width: 730px) {
  .about-me__photo {
    width: 284px;
    height: 344px;
    margin-bottom: 40px;
  }
}
