.header__logo {
    background-image: url(../../../images/logo.png);
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
