.movies-card__like {
    background-image: url('../../../images/movies-card__like.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    height: 12px;
    width: 18px;
    transition: opacity 200ms ease-in-out;
    outline: 0;
    padding: 0;
}

.element__like:hover {
    opacity: 0.6;
    cursor: pointer
}
